body {
    background-color: green;
}

h1 {
    text-align:center; 
    padding: 20px; 
    background-color: rgb(50,205,50); 
    border: 1px solid grey; 
}

input {
    text-align:center; 
    display:block; 
    color:black; 
   float:left; 
   margin-left:470px; 
   border-radius: 4px;
   border: 2px solid white; 

}

::placeholder {
    color: white; 
}

input[type="submit"] {
    float:right;
    position: absolute; 
    margin-left:650px; 
    color:white; 
    background-color:green;
}

.playerContainer {
    border: 2px solid black; 
    width: 50%; 
    float:left; 
    text-align: center;
}

h2 {
    text-align: center; 
}